.comment {
    position: fixed;
    left: -300px;
    width: 300px;
    top: 20%;
    height: 60%; /* 70% - 30% = 40% */
    overflow: auto;
    background-color: #1c47d5; /* Optional: for visibility */
    transition: left 2s;
}

.closeComment {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}