<!DOCTYPE html>
<html lang="en">
    <head>
        <title>flask socketio通信</title>
<!--        flask-socketio-->
        <script src="../static/js/jquery.js"></script>

<!--        Jquery-->
        <script src="../static/js/socketio.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    </head>
    <body>

        <h3>Join Room</h3>
        <form id="joinRoom" method="POST" action="#">
            <label>Room Number</label>
            <input type="text" id="roomNum" required>
            <input type="submit" id="submitRoomNum">

        </form>
        <button id="leave_room">Leave</button>

        <h1>Hello World</h1>
    <ul id="chatContent">
        <li>Text</li>
    </ul>
    <form id="SubmitForm" method="POST" action="#">
        <h3>发送文字</h3>
        <textarea placeholder="输入文字" name="msg" id="chatMsg" required></textarea>

        <button type="submit">发送</button>
    </form>
    </body>
</html>